body {
    font-family: "Raleway";
}

.header_banner {
    width: 300px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* schlagschatten */
}

ul {
    display: inline-block;
}.topmenu {
    
}

.topmenu-img {

}

.topmenu-text {

}

.button {

}.new-arrivals{
background-color: grey;
img{
    height: 44px;
    width: 44px;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        height: 140px;
        width: 140px;
    }

    div {
        display: flex;
        gap: 160px;
    }

    .figure {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    figcaption{
        font-weight: bold;
        text-align: center;
        
    }
    a{
        text-decoration: none;
    }

}