body {
    font-family: "Raleway";
}

.h2_main{
    padding-top: 40px;
}

.padding-left-right {
    padding-left: 40px;
    padding-right: 40px;
}

.header_banner {
    width: 300px;
}

header {
    box-shadow: 0px 4px 2px rgb(0 0 0 / 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    padding: 0;
    margin: 0;
}

li {
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header_li_a {
    color: black;
    font-size: 22px;
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header_li_a:hover {
    color: rgb(0 128 0);
    border-bottom: solid rgb(0 128 0);
}


.topmenu {
    display: flex;
    justify-content: center;
}

.topmenu-img {
    width: 400px;
    border-radius: 8px;
}

.topmenu-text {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.topmenu-text h2 {
    margin-top: 0px;
}

.button {
    background-color: rgb(0, 113, 0);
    text-decoration: none;
    color: white;
    padding: 10px 50px 10px 50px;
}

.mr-20 {
    margin-top: 80px;
}

.new-arrivals {
    margin-top: 120px;
    background-color: #EFEFEF;
    text-align: center;

    img {
        height: 44px;
        width: 44px;
    }

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
      

        img {
            height: 140px;
            width: 140px;
        }
        .figure {
            display: flex;
            flex-direction: row;
        }

        figcaption {
            font-weight: bold;
            text-align: center;
            color: black;
            font-size: 16px;

        }

        a {
            text-decoration: none;
            padding-bottom: 40px;
            
        }

    }
}

/* style Christian Rezept */

.topmenu-rezept {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topmenu-rezept img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}